
<div class="row" style="justify-content: center;">
  <div style="padding-left: 200px;">
    <table>
      <tr>
        <td style="text-align: center;">les Products on Stock</td>
        <td style="text-align: center;">Most Favored Products between 2022 and 2023</td>


      </tr>
      <tr>
        <td> <canvas style="margin-left: 100px; margin-right: 100px;" id="doughnutChart"></canvas></td>
        <td> <canvas style="margin-left: 100px; margin-right: 100px;" id="lineChart"></canvas></td>

      </tr>
    </table>
    <div>
      <p  style="text-align: center;">Most Favored Products Globally</p>
      <canvas style="margin:50px;" id="barChart"></canvas>
    </div></div>




    