<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
          <a routerLink="" class="text-nowrap logo-img">
            <img src="assets/images/logos/favicon.png" width="40" alt="" style="display: inline-block;" />
            <h3 style="display: inline-block; margin-left: 15px;">BestBuy</h3>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i> 
          </div>
        </div>
        
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Products</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/addProduct"  aria-expanded="false">
              <span>
                <i class="ti ti-plus"></i>
              </span>
              <span class="hide-menu">Add Product</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/Products" aria-expanded="false">
              <span>
                  <i class="ti ti-list"></i>
              </span>
              <span class="hide-menu">List of Products</span>
            </a>
          </li>
  
  
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Categories</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/AddCategory"  aria-expanded="false">
              <span>
                <i class="ti ti-plus"></i>
              </span>
              <span class="hide-menu">Add Categorie</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/category" aria-expanded="false">
              <span>
                  <i class="ti ti-list"></i>
              </span>
              <span class="hide-menu">List of Categories</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>